<h3>You are 'offline' now. <br> Explore the most interesting events from the past</h3>
<p>Version: {{ test_var }}</p>

<img id="ed00" style="width:200px;height:120px;border:0;" src={{ ss_path }} > 

<h3>Featured Events</h3>
<ul>
    {% for featured_event in featured %}
    <li>{{ featured_event }}</li>
    {% endfor %}
</ul>

<h3>Events</h3>
<ul>
    {% for event in events %}
    <li>{{ event }}</li>
    {% endfor %}
</ul>
